/* CARACTERISTICAS */
/* css geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
label {
  display: block;
  width: 100%;
}
input:focus,
label:focus {
  outline: none;
}

a {
  color: #ff9900;
}

/* formularios */

#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
}
#main-container h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.full-box {
  flex: 1 1 100%;
  position: relative;
}
.half-box {
  flex: 1 1 45%;
  position: relative;
}
.spacing {
  margin-right: 2.5%;
}
label {
  font-weight: lighter;
  font-size: 1.1rem;

}
input{
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #000000;

}
.botaoContinuar {
  margin-top: 2vw;
  font-weight: bold;
  width: 100%;
  height: 51px;
  left: 510px;
  top: 723px;
  background: #ec7000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: #ec7000 1px solid;
}
/*
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



main {
  height: 80vh;
}

fieldset {
  border-radius: 5px;
  height: auto;
  margin: auto;
  width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  display: block;
  justify-content: space-around;
  padding: 30px;
  border: rgb(0, 0, 0) 15px solid;
}

.size-form {
  padding: 8px;
  margin-bottom: 1px;
  display: block;
  border-radius: 1px;
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10pt;
  width: 400px;
}

.botaoContinuar {
  margin-top: 2vw;
  font-weight: bold;
  width: 100%;
  height: 51px;
  left: 510px;
  top: 723px;
  background: #ec7000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: #ec7000 1px solid;
}

.container-fluid {
  color: white;
  background-color: #ec7000;
  padding: 20px;
}

a:any-link {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* FIM DE CARACTERISTICAS GERAIS */

/* article {
  text-align: center;
  justify-content: space-around;
  padding-top: 5vh;
} */

/* PRIMEIRA TELA */

/* #nome {
  background: url("/ProWayBank/Proway/img/nome.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#cpf {
  background: url("/ProWayBank/Proway/img/documento.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#email {
  background: url("/ProWayBank/Proway/img/email.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#numero {
  background: url("/ProWayBank/Proway/img/telefone.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#data {
  background: url("/ProWayBank/Proway/img/calendario.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#renda {
  background: url("/ProWayBank/Proway/img/renda.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
} */

/* FIM DE PRIMEIRA TELA */

/* SEGUNDA TELA */

/* #pais {
  text-align: center;
  background: url("/ProWayBank/Proway/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#estado {
  background: url("/ProWayBank/Proway/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#cidade {
  text-align: center;
  background: url("/ProWayBank/Proway/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#cep {
  text-align: center;
  background: url("/ProWayBank/Proway/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}
#endereco {
  text-align: center;
  background: url("/ProWayBank/Proway/img/localizacao.png") no-repeat left
    center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
}

/* FIM DE SEGUNDA TELA */

/* QUARTA TELA */
/*
#senha {
  text-align: center;
  background: url("/ProWayBank/Proway/img/senha.png") no-repeat left center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 30px;
} */

/* FIM DE QUARTA TELA */

/* QUINTA TELA */

/* h5 {
  color: #8a8585;
}

h3 {
  padding-bottom: 25px;
} */

/* FIM DE QUINTA TELA */
/* footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(236, 112, 0);
  text-align: center;
  height: 16vh;
  margin-top: 30px;
}

footer a,
h2 {
  color: white;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
} */
